@font-face {
    font-family: Merriweather;
    src: url('../Merriweather-Light.ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

body {
    background-color: #f7f8fa;
}

.fb1 {
    height: 15px;
    width: 6px;
    border: none;
    background-color: #316dc3;
    margin-left: 5px;

}

.fb2 {
    padding-top: 30px;
    padding-left: 0%;
}


ul li.fb2 {
    display: inline;
}

ul li.fb3 {
    display: inline;
}



.twit1 {
    height: 15px;
    width: 20px;
    border: none;
}

.insta1 {
    height: 15px;
    width: 15px;
    border: none;
}

.utube1 {
    height: 15px;
    width: 18px;
    border: none;

}

.whtsap1 {
    height: 15px;
    width: 18px;
    border: none;

}

.btn1 {
    height: 22px;
    width: 70px;
    margin-top: 12px;
    padding-top: 2px;
    font-size: 11px;
    text-align: center;
    color: #427900;
    border: 1px solid #427900;
    border-radius: 0%;
}

.btn2 {
    height: 22px;
    width: 85px;
    margin-top: 12px;
    padding-top: 2px;
    font-size: 11px;
    color: #427900;
    border: 1px solid #427900;
    border-radius: 0%;
}

.btn3 {
    height: 22px;
    width: 90px;
    margin-top: 12px;
    padding-top: 5px;
    font-size: 0.7em;
    color: #427900;
    border: 1px solid #427900;
    border-radius: 0%;
}


.home {
    background-color: #316dc3;
    border-radius: 40px;
    color: aliceblue;
    /* font-weight: bold;
    font-size: 12px;
    color: white !important; */
}

a,
a:hover {
    text-decoration: none;
    color: black;
}


.news {
    /* box-shadow: inset 0 -15px 30px rgba(0,0,0,0.4), 0 5px 10px rgba(0,0,0,0.5); */
    width: 300px;
    height: 50px;
    /* margin: 20px auto; */
    overflow: hidden;
    /* border-radius: 4px; */
    padding: 3px;
    /* -webkit-user-select: none */
}

/* .news span {
    float: left;
    color: #fff;
    padding: 6px;
    position: relative;
    top: 1%;
    border-radius: 4px;
    box-shadow: inset 0 -15px 30px rgba(0,0,0,0.4);
    font: 16px;
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: none;
    cursor: pointer
  } */

.news ul {
    float: left;
    padding-right: 85px;
    animation: ticker 7s cubic-bezier(1, 0, .5, 0) infinite;
    -webkit-user-select: none
}

.news ul li {
    line-height: 30px;
    list-style: none
}

.news ul li a {
    color: #fff;
    text-decoration: none;
    font: 14px;
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: none
}

.news ul:hover {
    animation-play-state: paused
}

.news span:hover+ul {
    animation-play-state: paused
}

/* @keyframes ticker {
    0%   {margin-top: 0}
    25%  {margin-top: -30px}
    50%  {margin-top: -60px}
    75%  {margin-top: -90px}
    100% {margin-top: 0}
  } */











.headline {
    height: 700%;
    width: 65%;
    text-align: center;
    background-color: #316dc3;
    justify-content: center;
    margin-left: 13%;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
    color: aliceblue;
    padding-left: 43px;
}



.h33 {

    border-bottom-style: solid;
    border-bottom-color: green;
    border-bottom-width: 2px;
    width: 60px;
    margin-top: 0px;
}

.introline {

    border-bottom-style: solid;
    border-bottom-color: green;
    border-bottom-width: 2px;

    margin-left: 340px;
    width: 60px;

}

.introline1 {

    border-bottom-style: solid;
    border-bottom-color: green;
    border-bottom-width: 2px;
    width: 60px;

    margin-left: 450px;
}

.introline2 {

    border-bottom-style: solid;
    border-bottom-color: green;
    border-bottom-width: 2px;
    width: 60px;

    margin-left: 500px;
}

.introline3 {

    border-bottom-style: solid;
    border-bottom-color: green;
    border-bottom-width: 2px;
    width: 60px;

    margin-left: 600px;
}



.us {

    border-bottom-style: solid;
    border-bottom-color: #427900;
    border-bottom-width: 2px;
    width: 50px;
    margin-top: 0px;
    margin-left: 100px;
}

.us1 {
    
    border-bottom-style: solid;
    border-bottom-color: #bbb;
    border-bottom-width: 2px;
 


}




.icon {
    border-radius: 100%;
    margin: 20px 30px;
    font-size: 40px;
    color: black;
}

.icon:hover {
    border: 2px solid;
    margin: 10px 20px;
    padding: 8px;
    background-color: black;
    color: white;
    transition-duration: 1s;
}

.header {
    background-color: #0066b3;
    width: 100%;
    /* height: 60px; */
}

.headerContent {
    max-width: 1300px;
    /* height: 60px; */
    margin: 0 auto;
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid; */
}

.headerContent>div>a {
    /* border: 1px solid; */
    margin: 10px;
}

.socialIcon {
    font-size: 23px;
    color: white;

    /* border: solid 1px; */
}

.headerContent>p {
    margin: auto;
    color: white;
}

.donationButton>* {
    width: 120px;
    padding: 2px 4px;
    margin: 0 5px;
}

.navBar {
    /* border: 1px solid; */
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #f7f8fa;
}

.navContent {
    max-width: 1300px;
    /* height: 80px; */
    margin: 0 auto;
    padding: 0 10px;
    /* border: 1px solid; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 60px;
}

.navList {
    align-self: center;
    margin: auto 0;
}

.navList li {
    display: inline;
    /* border: 1px solid; */
}

.dropdownIcon {
    font-size: 12px;
    margin-left: 5px;
}

.navLink {
    padding: 5px 10px;
    border-radius: 10px;
}

.navLink:hover {
    background-color: #0066b3;
    color: white;

}

.subMenu1,
.subMenu2,
.subMenu3,
.subMenu4 {
    width: 150px;
    display: none;
    position: absolute;
    z-index: 1;
    padding: 5px 15px;
    margin: 3px 0 0 70px;
    background-color: #f7f8fa;
}

.subMenu2 {
    margin-left: 157px;
}

.subMenu3 {
    margin-left: 312px;
}

.subMenu4 {
    margin-left: 601px;
}

.subMenuList li {
    display: block;
    padding: 5px;
    margin-right: 10px;
    border-bottom: 1px dashed #8dc63f;
}

.subMenuList li:last-child {
    border: none;
}

.navList :hover .subMenu1,
.navList :hover .subMenu2,
.navList :hover .subMenu3,
.navList :hover .subMenu4 {
    display: block;
}

.subMenuList li:hover {
    padding-left: 15px;
    margin-right: 10px;
    color: #0066b3;

}

.subMenuList :hover {
    color: #8dc63f;
}

.sliderImg {
    height: 550px;
}

.news {
    width: 90%;
}

.newsContent {
    background-color: #0066b3;
    max-width: 1300px;
    margin: 15px auto;
    padding: 12px 10px;
    /* justify-content: center; */
    text-align: center !important;
    color: white;
    padding-left: 60px;
    /* border: 1px solid; */
}

.green {
    color: #8dc63f;
    border-bottom: 2px solid;
}

.blue {
    color: #0066b3;
    border-bottom: 2px solid;
}

.intro {
    width: 100%;
}

.introContent {
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center;
    padding: 20px;
    /* border: 1px solid; */
}

.introContent>p {
    text-align: justify;
    margin: 30px;
}

.info {
    width: 100%;
    background-color: #0066b3;
}

.info1 {
    width: 100%;
    /* background-color: #666666; */
    /* height: 380px; */
}
 /* .infoContent1 {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex: 1;
    flex-direction: row;
}  */

.infoContent1>* {
    width: 330px;
    /* height: 220px; */
    /* text-align: left; */
    padding-top: 40px;
    color: #bbb;
    padding-left: 45px;
    /* margin-bottom: 10px; */
}

.infoConten>*{
    width: 280px;
    /* height: 220px; */
    /* text-align: left; */
    padding-top: 40px;
    color: #bbb;
    padding-left: 50px;
    /* margin-bottom: 10px; */
}





.infoContent {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex: 1;
    flex-direction: row;

}

.infoContent>* {
    width: 350px;
    height: 220px;
    text-align: center;
    padding-top: 40px;
    color: white;
}

.infoContent>div>* {
    margin-bottom: 15px;
}

.infoContent1>div>* {
    margin-bottom: 15px;
}

.publicImg {
    height: 40px;
}

.project {
    width: 100%;
}

.projectContent {
    max-width: 1200px;
    margin: 0 auto;
    padding: 25px 20px;
    /* border: 1px solid; */
    text-align: center;
}

.projectDetails {
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 1fr));
    grid-row-gap: 20px;
    margin-top: 20px;
    justify-content: space-around;
    /* border: 1px solid; */
    padding: 30px;

}

.projectDetails>* {
    width: 350px;
    padding: 20px;
    background-color: white;
    border-radius: 1px;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.16);
    ;
}

.projectImg {
    width: 70px;
    margin-bottom: 20px;
}

.upcoming {
    width: 100%;
    /* border: 1px solid; */
}

.upcomingContent {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* justify-content: space-between; */
    /* border: 1px solid; */
    margin-bottom: 30px;
}

.upcomingProjectContent {
    /* border: 1px solid; */
    /* text-align: center; */
    padding: 0 20px;
}

.upcomingProjectDetails {
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 1fr));
    grid-gap: 10px;
    margin-top: 20px;
    /* border: 1px solid; */
}

.upcomingProjectDetails>a>div {
    /* border: 1px solid; */
    border-radius: 5px;
    padding: 15px;
    display: flex;
    box-shadow: 0px 10px 22px px rgba(0, 0, 0, 0.19);
    background-color: white;
}

.upcomingProjectDetails>a>div>img {
    margin: 0 25px;
}

.upcomingEventContent {
    /* border: 1px solid; */
    padding: 0 20px;
}

.upcomingEventDetails {
    /* border: 1px solid; */
    padding: 10px;
    padding-bottom: 0;
    margin-top: 20px;
    /* background-color: white; */
    /* border-radius: 10px; */
    /* box-shadow: 6px 8px 41px -7px rgba(0, 0, 0, 0.75); */
    height: 200px;



}

.upcomingEventDetails>p {
    margin-bottom: 5px;
}




p.upcom {

    position: relative;
    animation: mymove 5s infinite;

    line-height: 1.7;
    color: #666666;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;

}

p.upcom1 {
    position: relative;
    animation: mymove 5s infinite;

    line-height: 1.7;
    color: #666666;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;

}

@keyframes mymove {
    from {
        top: 0px;
    }

    to {
        top: 100px;
    }
}








.gallery {
    width: 100%;
}

.galleryContent {
    max-width: 1200px;
    /* border: 1px solid; */
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.galleryImages {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(autofit, auto);
    justify-items: center;
}

.galleryImages>img {
    width: 250px;
    border: 1px solid;
}

.footer {
    width: 100%;
    background-color: #0066b3;
    /* margin: 0; */
}

.footerContent {
    max-width: 800px;
    /* margin: 0 auto; */
    /* border: 1px solid; */
    text-align: left !important;
    padding-left: 4px;
    justify-items: left;
    color: white;
    /* padding-top: 10px; */
    justify-content: left;
}

.footerContent>p {
    /* margin: 0; */
    padding-left: 2px;
}

@media (max-width: 1024px) {

    .headerContent {
        max-width: 1000px;
        /* height: 100px; */
        display: flex;
        flex-direction: column;
    }

    .headerContent>p {
        margin: 10px 0;
    }

    .sliderImg {
        height: 400px;
    }

    .projectContent {
        max-width: 1000px;
        padding: 25px 20px;
    }

    .projectDetails {
        display: grid;
        grid-template-columns: repeat(2, minmax(auto, 1fr));
    }

    .upcomingContent {
        max-width: 1000px;
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 25px;
    }

    .galleryImages {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(autofit, auto);
        grid-row-gap: 20px;
    }
}

@media (max-width: 768px) {

    .navContent {
        max-width: 750px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
    }

    .sliderImg {
        height: 350px;
    }

    .projectDetails>* {
        width: 300px;
    }
}

@media (max-width: 500px) {

    h1,
    h2 {
        font-size: 22px;
    }

    .donationButton {
        display: flex;
        flex-direction: column;
    }

    .navList li {
        display: block;
        /* border: 1px solid; */
    }

    .subMenu1,
    .subMenu2,
    .subMenu3,
    .subMenu4 {
        margin-left: 70px;
    }

    .sliderImg {
        height: 220px;
    }

    .projectDetails {
        display: grid;
        grid-template-columns: repeat(1, minmax(auto, 1fr));
    }

    .infoContent {
        display: flex;
        flex-direction: column;

    }

    .infoContent1 {
        display: flex;
        flex-direction: column;

    }

    .upcomingProjectDetails {
        display: grid;
        grid-template-columns: repeat(1, minmax(auto, 1fr));
        grid-gap: 10px;
        margin-top: 20px;
        /* border: 1px solid; */
    }

    .galleryImages {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(autofit, auto);
        grid-row-gap: 20px;
    }
}






